---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Hr from "@/components/Hr.astro";
import { SITE } from "@/config";

interface Student {
  name: string;
  university: string;
  department: string;
  whatsapp?: string;
}

const students: Student[] = [
  { name: "KAZI SHAWON", university: "University of Vienna", department: "Computer Science & Engineering" },
  { name: "Sourav Saha", university: "University of Vienna", department: "Computer Science" },
  { name: "Pranab Sarker", university: "University of Vienna", department: "Computer Science" },
  { name: "Sale Musa", university: "University of Vienna", department: "Research in Economics and Finance" },
  { name: "Md. Safwan Towshik", university: "University of Vienna", department: "Computer Science" },
  { name: "Iftekher Aziz", university: "University of Vienna", department: "Computer Science" },
  { name: "Md Rakibul Karim", university: "University of Vienna", department: "Applied Economics" },
  { name: "Habiba Nasrin", university: "University of Vienna", department: "Applied Economics" },
  { name: "Md. Mehedi Hasan", university: "University of Vienna", department: "Applied Economics" },
  { name: "Syeda Anoushka Jafrin Shova", university: "University of Vienna", department: "Molecular Microbiology, Microbial Ecology and Immunobiology" },
  { name: "Md Tasin Rahman Tuser", university: "University of Vienna", department: "Applied Economics" },
  { name: "Md. Noushad Hossain", university: "University of Vienna", department: "Global Change and Sustainability" },
  { name: "Sazeda Akter Rimi", university: "University of Vienna", department: "Computer Science" },
  { name: "Md Faisal Khan", university: "University of Vienna", department: "Applied Economics" },
  { name: "MAHADI HASSAN SHOVA", university: "University of Vienna", department: "Computer Science" },
  { name: "Md. Omar Faruque", university: "University of Vienna", department: "Applied Economics" },
  { name: "Zahir Ahmed Khan", university: "University of Vienna", department: "Applied Economics", whatsapp: "+4368110491305" },
  { name: "Md Shazid Rahman", university: "University of Vienna", department: "Applied Economics" },
  { name: "Ruhit", university: "University of Vienna", department: "Computer Science" },
  { name: "Golam Kawsar", university: "University of Vienna", department: "Applied Economics" },
  { name: "Sumaya Akter", university: "University of Vienna", department: "Applied Economics" },
  { name: "Ahamad Ar Rafi Thakur", university: "University of Vienna", department: "Applied Economics" },
  { name: "Sumon Biswas", university: "University of Vienna", department: "Computer Science" },
  { name: "Kazi Roni", university: "University of Vienna", department: "Applied Economics" },
  { name: "MD AKRAM HOSSAIN", university: "University of Vienna", department: "Computational Science" },
  { name: "Uzzal Roy", university: "University of Vienna", department: "Computer Science" },
  { name: "Md Nadim Sheikh", university: "University of Vienna", department: "Geography: Global Change and Sustainability" },
  { name: "Shahinur Akter", university: "University of Vienna", department: "Applied Economics" },
  { name: "Md Samiul Islam", university: "University of Vienna", department: "Applied Economics" },
  { name: "Atikul Islam Khan", university: "University of Vienna", department: "Mathematics" },
  { name: "Barnali Adhikari", university: "University of Vienna", department: "Computer Science" },
  { name: "Fakir Rasel Ahmed", university: "University of Vienna", department: "Global Change and Sustainability" },
  { name: "Afrin Ashrafi", university: "University of Vienna", department: "Applied Economics" },
  { name: "Md Abdur Rahman", university: "University of Vienna", department: "Molecular Biology" },
  { name: "Sonju Debnath", university: "University of Vienna", department: "Environmental Systems Process Pollution Solutions", whatsapp: "+436603412494" },
  { name: "Jannatul Juice", university: "University of Vienna", department: "Computer Science", whatsapp: "+436764299712" },
  { name: "Dale Asa Roy", university: "University of Vienna", department: "Communication Science", whatsapp: "+436605992696" },
  { name: "Rima Dey", university: "University of Vienna", department: "Computational Science", whatsapp: "+4368120446425" },
  { name: "Munna", university: "University of Vienna", department: "Applied Economics", whatsapp: "+436503364792" },
  { name: "Kaushik Ahmed Rafin", university: "University of Vienna", department: "MS Applied Economics", whatsapp: "1875838339" },
  { name: "Md Ali Haidar", university: "University of Vienna", department: "MA Molecular Biology", whatsapp: "+436765392677" },
  { name: "Md. Abdur Rahman", university: "University of Vienna", department: "Molecular Biology" },
  { name: "Abdullah Al Foysal", university: "University of Vienna", department: "Applied Economics", whatsapp: "+436764987341" },
  { name: "Kazi T M Tariqul Haque", university: "University of Vienna", department: "Communication", whatsapp: "+436787900076" },
  { name: "Mohammad Lutfur Rahman", university: "University of Vienna", department: "Cultural Differences and Transnational Processes", whatsapp: "+436765329796" },
  { name: "Nazia Saiful", university: "University of Vienna", department: "Applied Economics", whatsapp: "+4306601966410" },
  { name: "Mohammad Rashedul Islam", university: "University of Vienna", department: "Biochemistry", whatsapp: "+8801719815069" },

  { name: "Md Abdul Quaiyum", university: "TU Wien", department: "Data Science" },
  { name: "MD NISHAT AHMED NOBEL", university: "TU Wien", department: "Data Science" },
  { name: "MD FERDOUS BIN MASUD", university: "TU Wien", department: "Information & Communication Engineering" },
  { name: "Saif Hasnat Fahad", university: "TU Wien", department: "Information and Communication Engineering" },
  { name: "Ataur Rahman Niloy", university: "TU Wien", department: "Computational Science and Engineering" },
  { name: "Rasel Ahmed", university: "TU Wien", department: "Computer Engineering" },
  { name: "Tanvir Ahmed", university: "TU Wien", department: "Interdisciplinary Mathematics" },
  { name: "Md. Omar Khaium", university: "TU Wien", department: "Media and Human Centered Computing" },
  { name: "Archi Alam Shefa", university: "TU Wien", department: "Biomedical Engineering" },
  { name: "Kamrul Hassan Sajib", university: "TU Wien", department: "Manufacturing and Robotics" },
  { name: "Golam Rasul", university: "TU Wien", department: "Embedded Computer System" },
  { name: "Md. Abbas Uddin Munna", university: "TU Wien", department: "Information and Communication Engineering" },
  { name: "Razib Hasan", university: "TU Wien", department: "Software Engineering" },
  { name: "MD IBRAHIM KHALIL", university: "TU Wien", department: "Media & Human-Centered Computing" },
  { name: "MD ZAHANGIR ALAM", university: "TU Wien", department: "Information Communication Engineering" },
  { name: "Mohammad Jubayer", university: "TU Wien", department: "Software Engineering" },
  { name: "Md Atikur Rahman", university: "TU Wien", department: "Manufacturing & Robotics" },
  { name: "Huzaifa Abdulla Al Azad", university: "TU Wien", department: "Computational Science & Engineering" },
  { name: "Md Sakib Ahmed", university: "TU Wien", department: "Biomedical Engineering" },
  { name: "Arnob Saha", university: "TU Wien", department: "Information and Communication Engineering" },
  { name: "Md Fahim Uddin", university: "TU Wien", department: "Information and Communication Engineering" },
  { name: "Jisan Ahamed Sharkar", university: "TU Wien", department: "Information & Communication Engineering" },
  { name: "MD IBRAHIM KHOLIL", university: "TU Wien", department: "Data Science" },
  { name: "Muhammed Shahnewaz Bhuiyan", university: "TU Wien", department: "Manufacturing And Robotics" },
  { name: "Mst Kaniz Fatima", university: "TU Wien", department: "Data Science" },
  { name: "Md Abdul Kayum", university: "TU Wien", department: "Data Science" },
  { name: "Risat Hossain", university: "TU Wien", department: "Interdisciplinary Mathematics" },
  { name: "Jannatul Jahan Bonny", university: "TU Wien", department: "Data Science" },
  { name: "Md Abu Nafee Ibna Zahid", university: "TU Wien", department: "Data Science" },
  { name: "Tanvirul Alam", university: "TU Wien", department: "Manufacturing & Robotics" },
  { name: "Abdullahil Baki", university: "TU Wien", department: "Data Science" },
  { name: "Hebron Hossain Hamim", university: "TU Wien", department: "Software Engineering", whatsapp: "+4368864352759" },
  { name: "S M Shahriyar", university: "TU Wien", department: "Data Science", whatsapp: "+4367763465417" },
  { name: "Md Mojahidul Islam", university: "TU Wien", department: "Data Science", whatsapp: "+4367763065690" },
  { name: "Md Refayat Hossain", university: "TU Wien", department: "Manufacturing and Robotics", whatsapp: "+4367762079184" },
  { name: "Md Morshed Alam", university: "TU Wien", department: "Biomedical Engineering", whatsapp: "+436604005476" },
  { name: "Nayma Alam", university: "TU Wien", department: "Data Science", whatsapp: "+4367764462097" },
  { name: "Md Shahidul Islam Mozumder", university: "TU Wien", department: "Computational Science and Engineering", whatsapp: "01689339066" },
  { name: "MD Ahsanul Karim Likhan", university: "TU Wien", department: "Data Science", whatsapp: "+4368181102801" },
  { name: "Md. Hasan Habib", university: "TU Wien", department: "Data Science", whatsapp: "+4368864302092" },
  { name: "Yeakub Ali", university: "TU Wien", department: "Computer Science", whatsapp: "+4369010195282" },
  { name: "Shithi Dev", university: "TU Wien", department: "Biomedical Engineering", whatsapp: "+4368181194226" },
  { name: "Ruman Faraji", university: "TU Wien", department: "Biomedical Engineering", whatsapp: "+4368120760204" },
  { name: "Arif Al Mas Barid", university: "TU Wien", department: "Technical Chemistry", whatsapp: "+4367762089794" },
  { name: "Sumon Paul", university: "TU Wien", department: "Manufacturing and Robotics", whatsapp: "+4368120204734" },
  { name: "MD Ashik Mahmud", university: "TU Wien", department: "Data Science", whatsapp: "+436765108081" },
  { name: "Aniruddho Saha", university: "TU Wien", department: "Data Science", whatsapp: "+4367764723715" },
  { name: "Neaz Morshed", university: "TU Wien", department: "Software Engineering", whatsapp: "+4368110377994" },
  { name: "Raihanul Islam", university: "TU Wien", department: "Information and Communication Engineering", whatsapp: "+4367764119708" },
  { name: "Mahmuda Akter Lubna", university: "TU Wien", department: "Software Engineering", whatsapp: "0665 67172497" },
  { name: "Md Shahan Islam Nova", university: "TU Wien", department: "Software Engineering", whatsapp: "01798625518" },
  { name: "Khorshida Alam Tonmoy", university: "TU Wien", department: "Data Science", whatsapp: "+436765461164" },
  { name: "Sajid Hasan", university: "TU Wien", department: "Biomedical Engineering", whatsapp: "6764126827" },

  { name: "A F M Wasey", university: "BOKU University", department: "Water Management and Environmental Engineering" },
  { name: "Most Tania Karim", university: "BOKU University", department: "Agricultural Sciences" },
  { name: "Mahabub Mia (Dipu)", university: "BOKU University", department: "Horticultural Science" },
  { name: "MD OLIULLAH", university: "BOKU University", department: "Horticulture" },
  { name: "Easin Uddin", university: "BOKU University", department: "Green Building Engineering", whatsapp: "+4367762072923" },
  { name: "Pias Roy", university: "BOKU University", department: "Sustainable Agriculture", whatsapp: "+4368181427743" },
  { name: "Md Mizanor Rahman Nayeem", university: "BOKU University", department: "MSc in Horticultural Sciences", whatsapp: "+43665 67052551" },
  { name: "Md Samsujjoha Nissan", university: "BOKU University", department: "Masters in Green Building Engineering", whatsapp: "+43678 7926397" },
  { name: "Md Anas Bin Islam", university: "BOKU University", department: "Horticultural Sciences", whatsapp: "+4368864620141" },
  { name: "Puja Sarkar Moly", university: "BOKU University", department: "Danube AgriFood Master (Erasmus Mundus Program)", whatsapp: "+8801534696686" },

  { name: "Khursida Akter", university: "WU Vienna", department: "Supply Chain Management" },
  { name: "Md Rasel Sarker", university: "WU Vienna", department: "Supply Chain Management" },
  { name: "Ahmed Hossain Saad", university: "WU Vienna", department: "Marketing" },
  { name: "Bushra Shakil", university: "WU Vienna", department: "Digital Economy", whatsapp: "+4366567139966" },

  { name: "Muhammad Raisul Hasan", university: "TU Graz", department: "Computational Social Systems" },
  { name: "Mahfuz", university: "TU Graz", department: "Computational Social Systems", whatsapp: "+4368120788499" },
  { name: "Walidur Rahman Anik", university: "TU Graz", department: "Computational Social System (CSS)", whatsapp: "+4368110434418" },

  { name: "Sheikh Md Mustainur Rahman", university: "Modul University Vienna", department: "Management" },
  { name: "Juhair Anjum Jarif", university: "Modul University Vienna", department: "Tourism and Hospitality Management" },
  { name: "Jannatul Ferdous", university: "Modul University Vienna", department: "Sustainable Development", whatsapp: "+4368181923302" },

  { name: "Mohammad Faisal", university: "JKU Linz", department: "Artificial Intelligence" },
  { name: "Rejaul Karim", university: "Johannes Kepler University", department: "Artificial Intelligence", whatsapp: "06606703579" },

  { name: "B M Sarfuzzaman Razib", university: "FH JOANNEUM Graz", department: "Global Strategic Management", whatsapp: "+436604285553" },
  { name: "Mezbaul Alam", university: "FH JOANNEUM Graz", department: "Global Strategic Management", whatsapp: "+4368864885616" },

  { name: "Zinnurain", university: "University of Innsbruck", department: "Software Engineering", whatsapp: "+4367762936179" },

  { name: "NUSRAT JAHAN HIRA", university: "Fachhochschule Wiener Neustadt", department: "MedTech – Functional Imaging", whatsapp: "+4368184592886" },

  { name: "Ariful Islam", university: "ITM College Bad Voslau", department: "Hotel Management", whatsapp: "+4368120447638" },

  { name: "Bristy Akter", university: "University of Graz", department: "Biology", whatsapp: "+4367761951700" },
  { name: "Md. Al-Amin", university: "University of Graz", department: "Biology", whatsapp: "+4367764738182" },
  { name: "Mahmudul Hasan Saron", university: "University of Graz", department: "Data Science", whatsapp: "+436502307659" },
  { name: "Rakib Hasan Arnob", university: "University of Graz", department: "Computational Social Systems", whatsapp: "+4367762325370" },
  { name: "Tanjim Khan Nokib", university: "University of Graz", department: "Computational Social Systems", whatsapp: "+4369981461388" },
  { name: "Amina Mim", university: "University of Graz", department: "Computational Social Systems", whatsapp: "+4369010542891" },
  { name: "Mohammad Imam Hossain", university: "University of Graz", department: "Computational Social Systems", whatsapp: "+436765947389" },
  { name: "Hasibul Hasem Shanto", university: "University of Graz", department: "Data Science", whatsapp: "+436505767679" },

  { name: "Piyal Saha", university: "Medical University of Vienna", department: "Immunology", whatsapp: "+436767088301" },

  { name: "Taunika Chowdhury", university: "Central European University (CEU)", department: "Critical Gender Studies", whatsapp: "+4367763402709" },
];

const studentsByUniversity = students.reduce((acc, s) => {
  if (!acc[s.university]) acc[s.university] = [];
  acc[s.university].push(s);
  return acc;
}, {} as Record<string, Student[]>);

const sortedUniversities = Object.keys(studentsByUniversity).sort(
  (a, b) => studentsByUniversity[b].length - studentsByUniversity[a].length
);

const totalStudents = students.length;
const totalWithContact = students.filter(s => s.whatsapp).length;
const totalUniversities = sortedUniversities.length;
const totalDepts = new Set(students.map(s => s.department)).size;

function initials(name: string) {
  return name
    .split(" ")
    .filter(Boolean)
    .slice(0, 2)
    .map(w => w[0].toUpperCase())
    .join("");
}
---

<Layout title={`Student Directory | ${SITE.title}`}>
  <Header />
  <main id="main-content" class="mx-auto w-full max-w-5xl px-4 pb-16 pt-4">

    <!-- Page title -->
    <div class="mb-8 border-b border-border pb-6">
      <h1 class="text-3xl font-bold sm:text-4xl">
        🎓 Student Directory
      </h1>
      <p class="mt-2 italic text-foreground/60">
        A directory of Bangladeshi students studying across Austria — part of the
        <span class="text-accent not-italic font-medium">BSSV</span> community.
      </p>
    </div>

    <!-- Stats row -->
    <div class="mb-8 grid grid-cols-2 gap-3 sm:grid-cols-4">
      <div class="rounded border border-border bg-muted/40 px-4 py-3 text-center">
        <div class="text-2xl font-bold text-accent">{totalStudents}</div>
        <div class="mt-0.5 text-xs uppercase tracking-widest text-foreground/50">Members</div>
      </div>
      <div class="rounded border border-border bg-muted/40 px-4 py-3 text-center">
        <div class="text-2xl font-bold text-accent">{totalUniversities}</div>
        <div class="mt-0.5 text-xs uppercase tracking-widest text-foreground/50">Universities</div>
      </div>
      <div class="rounded border border-border bg-muted/40 px-4 py-3 text-center">
        <div class="text-2xl font-bold text-accent">{totalDepts}</div>
        <div class="mt-0.5 text-xs uppercase tracking-widest text-foreground/50">Departments</div>
      </div>
      <div class="rounded border border-border bg-muted/40 px-4 py-3 text-center">
        <div class="text-2xl font-bold text-accent">{totalWithContact}</div>
        <div class="mt-0.5 text-xs uppercase tracking-widest text-foreground/50">With Contact</div>
      </div>
    </div>

    <!-- Search -->
    <div class="relative mb-4">
      <span class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-foreground/40">
        &#128269;
      </span>
      <input
        id="searchInput"
        type="search"
        placeholder="Search name, university, or department…"
        autocomplete="off"
        class="w-full rounded border border-border bg-background py-2.5 pl-9 pr-4 text-sm text-foreground placeholder-foreground/40 outline-none transition focus:border-accent focus:ring-1 focus:ring-accent"
      />
    </div>

    <!-- Live count -->
    <p id="liveCount" class="mb-4 text-xs text-foreground/50 italic"></p>

    <!-- University filter tabs -->
    <div id="filterWrap" class="mb-6 flex flex-wrap gap-2">
      <button
        class="filter-btn active-filter rounded border border-accent bg-accent px-3 py-1 text-xs font-medium text-background transition"
        data-uni="all"
      >All universities</button>
      {sortedUniversities.map(uni => (
        <button
          class="filter-btn rounded border border-border px-3 py-1 text-xs font-medium text-foreground/60 transition hover:border-accent hover:text-accent"
          data-uni={uni}
        >
          {uni}
          <span class="ml-1 opacity-60">({studentsByUniversity[uni].length})</span>
        </button>
      ))}
    </div>

    <Hr />

    <!-- Student groups -->
    <div id="studentContainer">
      {sortedUniversities.map(university => {
        const group = studentsByUniversity[university];
        return (
          <section
            class="university-section mt-10"
            data-university={university.toLowerCase()}
          >
            <h2 class="mb-1 flex items-baseline gap-3 text-xl font-semibold">
              <span class="text-accent">{university}</span>
              <span class="text-sm font-normal text-foreground/40">
                {group.length} student{group.length !== 1 ? "s" : ""}
              </span>
            </h2>
            <Hr />
            <ul class="divide-y divide-border" role="list">
              {group.map(student => (
                <li
                  class="student-row flex items-center gap-3 py-3 transition-colors hover:bg-muted/30"
                  data-name={student.name.toLowerCase()}
                  data-university={university.toLowerCase()}
                  data-department={student.department.toLowerCase()}
                >
                  <!-- Initials avatar -->
                  <div
                    class="avatar-circle flex-shrink-0"
                    aria-hidden="true"
                  >
                    {initials(student.name)}
                  </div>

                  <!-- Info -->
                  <div class="min-w-0 flex-1">
                    <span class="block truncate font-medium leading-snug text-foreground">
                      {student.name}
                    </span>
                    <span class="block truncate text-xs text-foreground/50 leading-snug mt-0.5">
                      {student.department}
                    </span>
                  </div>

                  <!-- Contact badge -->
                  {student.whatsapp && (
                    <span class="flex-shrink-0 inline-flex items-center gap-1 rounded border border-border bg-muted/40 px-2 py-0.5 text-xs text-foreground/60">
                      <span class="text-[10px]">📱</span>
                      <span class="hidden sm:inline">In WhatsApp group</span>
                    </span>
                  )}
                </li>
              ))}
            </ul>
          </section>
        );
      })}
    </div>

    <!-- No results -->
    <div id="noResults" class="hidden py-20 text-center">
      <p class="text-4xl">🔍</p>
      <p class="mt-4 text-lg font-medium">No students found</p>
      <p class="mt-1 text-sm text-foreground/50">Try a different search term or filter.</p>
    </div>

  </main>
  <Footer />
</Layout>

<style>
  .avatar-circle {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: var(--color-muted);
    color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    border: 1px solid var(--color-border);
    user-select: none;
  }

  .student-row {
    border-radius: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .active-filter {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-background);
  }

  .filter-btn {
    cursor: pointer;
  }
</style>

<script>
  const searchInput = document.getElementById("searchInput") as HTMLInputElement;
  const liveCount = document.getElementById("liveCount") as HTMLParagraphElement;
  const filterBtns = document.querySelectorAll<HTMLButtonElement>(".filter-btn");
  const rows = document.querySelectorAll<HTMLElement>(".student-row");
  const sections = document.querySelectorAll<HTMLElement>(".university-section");
  const noResults = document.getElementById("noResults") as HTMLElement;

  let activeUni = "all";

  function update() {
    const term = searchInput.value.toLowerCase().trim();
    let visible = 0;
    const sectionCounts: Record<string, number> = {};

    rows.forEach(row => {
      const name = row.dataset.name ?? "";
      const uni = row.dataset.university ?? "";
      const dept = row.dataset.department ?? "";
      const matchSearch = !term || name.includes(term) || uni.includes(term) || dept.includes(term);
      const matchUni = activeUni === "all" || uni === activeUni.toLowerCase();
      const show = matchSearch && matchUni;
      row.style.display = show ? "" : "none";
      if (show) {
        visible++;
        sectionCounts[uni] = (sectionCounts[uni] ?? 0) + 1;
      }
    });

    sections.forEach(sec => {
      const uni = (sec.dataset.university ?? "").toLowerCase();
      sec.style.display = (sectionCounts[uni] ?? 0) > 0 ? "" : "none";
    });

    noResults.classList.toggle("hidden", visible > 0);

    if (term || activeUni !== "all") {
      liveCount.textContent = `Showing ${visible} student${visible !== 1 ? "s" : ""}`;
    } else {
      liveCount.textContent = "";
    }
  }

  searchInput.addEventListener("input", update);

  filterBtns.forEach(btn => {
    btn.addEventListener("click", () => {
      filterBtns.forEach(b => {
        b.classList.remove("active-filter");
        b.style.backgroundColor = "";
        b.style.borderColor = "";
        b.style.color = "";
      });
      btn.classList.add("active-filter");
      activeUni = btn.dataset.uni ?? "all";
      update();
    });
  });

  update();
</script>
